#Write a NumPy program to create an array with the values 1, 7, 13, 105    and determine the size of the memory occupied by the array.

In [102]:
import numpy as np


arr = np.array([1, 7, 13, 105])

print(arr.size*arr.itemsize)

16

Write a NumPy program to create an element-wise comparison (greater, greater_equal, less and less_equal) of two given arrays.

In [7]:
import numpy as np

arr1 = np.array([4,1])
arr2 = np.array([4,8])

print("compair_greater")
print(np.greater(arr1,arr2))

print("compair_greater equal")
print(np.greater_equal(arr1,arr2))

print("compair_less")
print(np.less(arr1,arr2))

print("compair_less equal")
print(np.less_equal(arr1,arr2))

compair_greater
[False False]
compair_greater equal
[ True False]
compair_less
[False  True]
compair_less equal
[ True  True]

Write a NumPy program to create an array of integers from 30 to 70.

In [10]:
arr = np.array(range(30,71))
print(arr)

[30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70]

Write a NumPy program to create an array of all even integers from 20 to 80.

In [15]:
arr = np.array(range(20,81))
a = arr[0:61:2]
print(a)

[20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66
 68 70]

Write a NumPy program to create an array of all odd integers from 20 to 80.

In [16]:
arr = np.array(range(20,81))
a = arr[1:61:2]
print(a)

[21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67
 69 71 73 75 77 79]

Write a NumPy program to generate an array of 15 random numbers from 10 to 40.

In [75]:
arr = np.random.randint(10,41,15)
print(arr)

[28 25 33 37 31 20 21 36 32 29 26 21 24 20 17]

7)Write a NumPy program to generate an array of 10 random numbers from 30 to 50.

In [74]:
arr = np.random.randint(30,51,10)
print(arr)

[32 50 47 42 30 33 31 44 37 32]

8. Create any two arrays & perform various mathematical operations.
    i.e. Addition, Substraction, Multiplication, Divide.

In [34]:
arr1 = np.array([4,1,8,6])
arr2 = np.array([4,8,10,50])

print(f"Addition:{arr1+arr2}")
print(f"Substraction:{arr1-arr2}")
print(f"Multiplication:{arr1*arr2}")
print(f"Divide:{arr1/arr2}")

Addition:[ 8  9 18 56]
Substraction:[  0  -7  -2 -44]
Multiplication:[ 16   8  80 300]
Divide:[1.    0.125 0.8   0.12 ]

9. Write a NumPy program to create a 3x4 matrix filled with values from 10 to 21.

In [35]:
arr = np.array(range(10,22))
matrix = arr.reshape(3,4)
print("3x4 matrix filled with values from 10 to 21:")
print(matrix)

3x4 matrix filled with values from 10 to 21:
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]

10. Write a NumPy program to create a 3x3 identity matrix, i.e. the diagonal elements are 1, the rest are 0.

In [40]:
identity_matrix = np.identity(3)
print("3x3 identity matrix:")
print(identity_matrix)

3x3 identity matrix:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

11. Write a NumPy program to find the number of rows and columns in a given matrix.

In [44]:
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

row,column = matrix.shape

print("Number of rows:",row)
print("Number of columns:",column)

Number of rows: 3
Number of columns: 3

12. Write a NumPy program to create a 5x5 zero matrix with elements on the main diagonal equal to 1, 2, 3, 4, 5.

In [53]:
identity_matrix = np.identity(5)
print("5x5 identity matrix:")
i=1

for row in identity_matrix:
    print(i*row)
    i+=1

3x3 identity matrix:
[
[1. 0. 0. 0. 0.]
[0. 2. 0. 0. 0.]
[0. 0. 3. 0. 0.]
[0. 0. 0. 4. 0.]
[0. 0. 0. 0. 5.]
]

Write a NumPy program to create a 3x3x3 array filled with arbitrary values.

In [62]:
identity_matrix = np.random.random((3,3,3))
print("3x3x3 array filled with arbitrary values:")
print(identity_matrix)

3x3x3 array filled with arbitrary values:
[[[0.49094279 0.84295302 0.43659591]
  [0.01306375 0.15109291 0.75725261]
  [0.31446918 0.81412698 0.77206491]]

 [[0.71954811 0.56926741 0.30464673]
  [0.50670275 0.87049602 0.36191992]
  [0.97877861 0.70180536 0.09705814]]

 [[0.95502337 0.8215525  0.69859653]
  [0.57657614 0.01306604 0.01806869]
  [0.7100002  0.61238128 0.35274617]]]

14. Write a NumPy program to create a 2x3x4 array filled with arbitrary values.

In [86]:
identity_matrix = np.random.random((2,3,4))
print("2x3x4 array filled with arbitrary values:")
print(identity_matrix)

2x3x4 array filled with arbitrary values:
[[[0.0175593  0.25800092 0.30618271 0.39140911]
  [0.17334156 0.45407267 0.68283284 0.11591816]
  [0.00894736 0.31204289 0.60883458 0.97505215]]

 [[0.20706455 0.82786874 0.27766494 0.93330663]
  [0.62374593 0.73624163 0.10808115 0.51268814]
  [0.15182911 0.65730796 0.33118258 0.2911245 ]]]

15. Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array.

In [64]:
list1 = [1,5,7,9,2,1]

arr = np.array(list1)
print(arr)

[1 5 7 9 2 1]

16. Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10.

In [84]:
arr = np.random.randint((range(2,11)))
mat = arr.reshape(3,3)
print(mat)

[[0 1 1]
 [1 2 1]
 [7 1 0]]

17. Write a NumPy program to create an array with values ranging from 12 to 38.

In [85]:
arr = np.array(range(12,39))
print(arr)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37 38]

18. Write a NumPy program to reverse an array (the first element becomes the last).

In [94]:
arr = np.array(range(1,11))
print(arr)
rev = arr[::-1]
print(rev)

[ 1  2  3  4  5  6  7  8  9 10]
[10  9  8  7  6  5  4  3  2  1]

19. Write a NumPy program to get the element-wise remainder of an array of division.

In [95]:
arr = np.array(range(11,21))
arr1 = np.array(range(1,11))

rem = np.remainder(arr,arr1)
print(rem)

[0 0 1 2 0 4 3 2 1 0]

20. Write a NumPy program to get the element-wise remainder of an array of numbers from 20 to 50 which are divisible by 3.

In [97]:
arr = np.array(range(20,51))

rem = np.remainder(arr,3)
print("20 to 50 which are divisible by 3:",rem)

20 to 50 which are divisible by 3 [2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2]

21. Write a Pandas program to create a dataframe from a dictionary and display it.

In [118]:
import pandas as pd

dict = { "name": ['ram','shyam'], "place": ['ayodhya','bangal'], "age": [30,21]}

df = pd.DataFrame(dict)
print(df)

    name    place  age
0    ram  ayodhya   30
1  shyam   bangal   21

22. i) Create a list of empids and names (10 employees).
   ii) Convert list into Series.
   iii) Print type of Series.
   iv) Convert Series into DataFrame.
   v) a) Display all records.
      b) Display first five records.
      c) Display last five records.
      d) Display first two and last two records.
      e) Display name of 5th employee.
      f) Display record of 4th employee.
   vi) Save the record in csv file (MyRecord.csv)

In [140]:
empids = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
names = ["ram","shayam",'krishna','radha','mohan','keshav','raghav','raghuveer','nandlal','kishor']

series = pd.Series(names, index= empids)
print("list into Series:\n",series)
print("\ntype of Series:",type(series))
df = pd.DataFrame(series)
print("\nSeries into DataFrame:\n",df)
df.columns = ["Names"]
print("\nDisplay all records:\n",df)
print("\nDisplay first five records:\n",df.head(5))
print("\nDisplay last five records:\n",df.tail(5))
print("\nDisplay first two and last two records:\n",df.head(2),df.tail(2))
print("\nDisplay name of 5th employee:\n",df.iloc[4:5])
print("\nDisplay name of 4th employee:\n",df.iloc[3:4])

df.to_csv("MyRecord.csv")

list into Series:
 1           ram
2        shayam
3       krishna
4         radha
5         mohan
6        keshav
7        raghav
8     raghuveer
9       nandlal
10       kishor
dtype: object

type of Series: <class 'pandas.core.series.Series'>

Series into DataFrame:
             0
1         ram
2      shayam
3     krishna
4       radha
5       mohan
6      keshav
7      raghav
8   raghuveer
9     nandlal
10     kishor

Display all records:
         Names
1         ram
2      shayam
3     krishna
4       radha
5       mohan
6      keshav
7      raghav
8   raghuveer
9     nandlal
10     kishor

Display first five records:
      Names
1      ram
2   shayam
3  krishna
4    radha
5    mohan

Display last five records:
         Names
6      keshav
7      raghav
8   raghuveer
9     nandlal
10     kishor

Display first two and last two records:
     Names
1     ram
2  shayam       Names
9   nandlal
10   kishor

Display name of 5th employee:
    Names
5  mohan

Display name of 4th employee:
    Names
4  radha

23. i) Read the MyRecord.csv file.
    ii) Create a new column Salary.

In [141]:
read = pd.read_csv("MyRecord.csv")
Salary = ["90k","80k","70k","92k","10k","50k","93k","90k","95k","50k"]
df["Salary"] = Salary
print(df)

        Names Salary
1         ram    90k
2      shayam    80k
3     krishna    70k
4       radha    92k
5       mohan    10k
6      keshav    50k
7      raghav    93k
8   raghuveer    90k
9     nandlal    95k
10     kishor    50k

24. Refer the dataset "Advertising.csv" and perform following tasks.
i) Read the dataset "Advertising.csv" in data frame.

ii) Print first five records of dataset.

iii) print last five records from dataset.

iv) display the column names of the dataset.

v) display last three records from dataset.

vi) display the information about the dataset and analyse the data.

vii) display data types of each columns.
 
viii) check for null values in the dataset and display the sum of null values inside the column.

ix) drop a column 'radio' from a dataset and display first ten records.

x) increase the sales by 10% and add a new column "updated_sales" in dataframe.

xi) display shape of data.

In [166]:
read = pd.read_csv("Advertising.csv")
df = pd.DataFrame(read)
print("\nfirst five records of dataset:\n",df.head(5))
print("\nlast five records of dataset:\n",df.tail(5))
print("\nthe column names of the dataset:\n",df.columns)
print("\nlast 3 records of dataset:\n",df.tail(3))
print("\ninformation about the dataset and analyse the data:\n",df.info,df.describe)
print("\ndata types of each columns:\n",df.dtypes)
print("\nnull values in the dataset and display the sum of null values inside the column:\n",df.isnull(),"\n",df.isnull().sum())
d = df.drop("radio", axis=1)
print("\ndrop a column 'radio' from a dataset and display first ten records:\n",d.head(10))
update = df.sales*1.1
df["updated_sales"]= update
print("\nincrease the sales by 10% and add a new column updated_sales in dataframe:\n",df)
print("\nshape of data:\n",df.shape)

first five records of dataset:
       TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

last five records of dataset:
         TV  radio  newspaper  sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

the column names of the dataset:
 Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

last 3 records of dataset:
         TV  radio  newspaper  sales
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

information about the dataset and analyse the data:
 <bound method DataFrame.info of         TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]> <bound method NDFrame.describe of         TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]>

data types of each columns:
 TV           float64
radio        float64
newspaper    float64
sales        float64
dtype: object

null values in the dataset and display the sum of null values inside the column:
         TV  radio  newspaper  sales
0    False  False      False  False
1    False  False      False  False
2    False  False      False  False
3    False  False      False  False
4    False  False      False  False
..     ...    ...        ...    ...
195  False  False      False  False
196  False  False      False  False
197  False  False      False  False
198  False  False      False  False
199  False  False      False  False

[200 rows x 4 columns]
 TV           0
radio        0
newspaper    0
sales        0
dtype: int64

drop a column 'radio' from a dataset and display first ten records:
       TV  newspaper  sales
0  230.1       69.2   22.1
1   44.5       45.1   10.4
2   17.2       69.3    9.3
3  151.5       58.5   18.5
4  180.8       58.4   12.9
5    8.7       75.0    7.2
6   57.5       23.5   11.8
7  120.2       11.6   13.2
8    8.6        1.0    4.8
9  199.8       21.2   10.6

increase the sales by 10% and add a new column updated_sales in dataframe:
         TV  radio  newspaper  sales  updated_sales
0    230.1   37.8       69.2   22.1          24.31
1     44.5   39.3       45.1   10.4          11.44
2     17.2   45.9       69.3    9.3          10.23
3    151.5   41.3       58.5   18.5          20.35
4    180.8   10.8       58.4   12.9          14.19
..     ...    ...        ...    ...            ...
195   38.2    3.7       13.8    7.6           8.36
196   94.2    4.9        8.1    9.7          10.67
197  177.0    9.3        6.4   12.8          14.08
198  283.6   42.0       66.2   25.5          28.05
199  232.1    8.6        8.7   13.4          14.74

[200 rows x 5 columns]

shape of data:
 (200, 5)

25. Refer the dataset "Salaries.csv" and perform following tasks.
i) Read the dataset in dataframe.

ii) display first five records.

iii) display first ten records.

iv) display last five records.

v) display last ten records.

vi) display the columns inside the dataset.

vii) display shape of data.

viii) describe the dataset.

ix) display the information about the dataset and analyse the data.

x) display types of each columns.

xi) Find out maximum,minimum,mean,median,standard deviation value of each column.

xii) check for null values in the dataset and display the sum of null values inside the column.

xiii) drop all null values.

xiv) a) display records whose salary is greater than 50000.
     b) display records whose salary is less than 20000.
     c) display records whose salary is between 20000 to 50000.
     d) display records whose salary is greater than 100000.
     e) display records whose salary is less than 100000.

xv)  a) display records whose discipline is A.
     b) display records whose discipline is B.
     c) display records whose service is greater than 10.
     d) display records whose service is less than 5.

xvi) a) display records of phd and salary.
     b) display records of rank, sex and salary.
     c) display records without salary.
     d) display first 50 records with rank,service and salary.
     e) display records whose rank is Prof.
     f) display records whose rank is AssocProf.

In [8]:
import pandas as pd

df = pd.read_csv("Salaries.csv")
print("\nfirst five records of dataset:\n",df.head(5))
print("\nfirst ten records of dataset:\n",df.head(10))
print("\nlast five records of dataset:\n",df.tail(5))
print("\nlast ten records of dataset:\n",df.tail(10))
print("\ndisplay the columns inside the dataset.:\n",df.columns)
print("\nshape of data.:\n",df.shape)
print("\ndescribe the dataset.:\n",df.describe)
print("\nthe information about the dataset and analyse the data.:\n",df.info())
print("\ntypes of each columns.:\n",df.dtypes)
print("\nmaximum,minimum,mean,median,standard deviation value of each column:\n",df.describe())
print("\nnull values in the dataset:\n",df.isnull)
print("\ndisplay the sum of null values inside the column:\n",df.isnull().sum())
print("\nsalary is greater than 50000:\n",df[df['salary'] > 50000])
print("\nrecords whose salary is less than 20000:\n",df[df['salary']<20000])
print("\nrecords whose salary is between 20000 to 50000:\n",df[(df['salary']>20000)&(df['salary']<50000)])
print("\nrecords whose salary is greater than 100000:\n",df[df['salary']>100000])
print("\nrecords whose salary is less than 100000:\n",df[df['salary']<100000])
print("\nrecords whose discipline is A:\n",df[df['discipline']=='A'])
print("\nrecords whose discipline is B:\n",df[df['discipline']=='B'])
print("\nrecords whose service is greater than 10:\n",df[df['service']>10])
print("\nrecords whose service is less than 5:\n",df[df['service']<5])
print("\nrecords of phd and salary:\n",df[['phd','salary']])
print("\nrecords of rank, sex and salary:\n",df[['rank','sex','salary']])
print("\nrecords without salary:\n",df.drop('salary',axis=1))
print("\nfirst 50 records with rank,service and salary:\n",df[['rank','service','salary']].head(50))
print("\nrecords whose rank is Prof:\n",df[df['rank'] == 'Prof'])
print("\nrecords whose rank is AssocProf:\n",df[df['rank'] == 'AssocProf'])

first five records of dataset:
    rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

first ten records of dataset:
         rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

last five records of dataset:
          rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

last ten records of dataset:
          rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

display the columns inside the dataset.:
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

shape of data.:
 (78, 6)

describe the dataset.:
 <bound method NDFrame.describe of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

the information about the dataset and analyse the data.:
 None

types of each columns.:
 rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

maximum,minimum,mean,median,standard deviation value of each column:
              phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

null values in the dataset:
 <bound method DataFrame.isnull of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]>

display the sum of null values inside the column:
 rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

salary is greater than 50000:
          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

records whose salary is less than 20000:
 Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

records whose salary is between 20000 to 50000:
 Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

records whose salary is greater than 100000:
          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
7        Prof          A   18       18    Male  126300
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
21       Prof          A   33       30    Male  103106
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
65       Prof          A   36       19  Female  117555
69       Prof          A   28        7  Female  116450
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

records whose salary is less than 100000:
          rank discipline  phd  service     sex  salary
1        Prof          A   12        6    Male   93000
6   AssocProf          A   20       17    Male   81285
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
12   AsstProf          B    1        0    Male   88000
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
20   AsstProf          B    4        4    Male   92000
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
28   AsstProf          B    7        2    Male   91300
38   AsstProf          B    4        3    Male   91000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
46   AsstProf          B   11        3  Female   74692
50   AsstProf          B   10        5  Female   97032
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
60   AsstProf          B    3        3  Female   92000
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065

records whose discipline is A:
          rank discipline  phd  service     sex  salary
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
32       Prof          A   27       19    Male  103275
37       Prof          A   20        8    Male  102000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

records whose discipline is B:
          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
4        Prof          B   20       18    Male  104800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
20   AsstProf          B    4        4    Male   92000
25       Prof          B   35       31    Male   99418
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312

records whose service is greater than 10:
          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
19       Prof          A   29       27    Male  150500
21       Prof          A   33       30    Male  103106
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
29       Prof          B   21       20    Male  123683
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
51       Prof          B   20       14  Female  127512
54  AssocProf          A   25       22  Female   62884
58       Prof          B   36       26  Female  144651
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
67       Prof          A   17       11  Female   90450
72       Prof          B   24       15  Female  161101
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

records whose service is less than 5:
         rank discipline  phd  service     sex  salary
12  AsstProf          B    1        0    Male   88000
15      Prof          B   17        3    Male  150480
16  AsstProf          B    8        3    Male   75044
17  AsstProf          B    4        0    Male   92000
20  AsstProf          B    4        4    Male   92000
22  AsstProf          A    4        2    Male   73000
23  AsstProf          A    2        0    Male   85000
28  AsstProf          B    7        2    Male   91300
38  AsstProf          B    4        3    Male   91000
42  AsstProf          B    4        2  Female   80225
43  AsstProf          B    5        0  Female   77000
46  AsstProf          B   11        3  Female   74692
52      Prof          A   12        0  Female  105000
53  AsstProf          A    5        3  Female   73500
55  AsstProf          A    2        0  Female   72500
57  AsstProf          A    3        1  Female   72500
60  AsstProf          B    3        3  Female   92000
68  AsstProf          A    4        2  Female   77500
70  AsstProf          A    8        3  Female   78500

records of phd and salary:
     phd  salary
0    56  186960
1    12   93000
2    23  110515
3    40  131205
4    20  104800
..  ...     ...
73   18  105450
74   19  104542
75   17  124312
76   28  109954
77   23  109646

[78 rows x 2 columns]

records of rank, sex and salary:
          rank     sex  salary
0        Prof    Male  186960
1        Prof    Male   93000
2        Prof    Male  110515
3        Prof    Male  131205
4        Prof    Male  104800
..        ...     ...     ...
73       Prof  Female  105450
74  AssocProf  Female  104542
75       Prof  Female  124312
76       Prof  Female  109954
77       Prof  Female  109646

[78 rows x 3 columns]

records without salary:
          rank discipline  phd  service     sex
0        Prof          B   56       49    Male
1        Prof          A   12        6    Male
2        Prof          A   23       20    Male
3        Prof          A   40       31    Male
4        Prof          B   20       18    Male
..        ...        ...  ...      ...     ...
73       Prof          B   18       10  Female
74  AssocProf          B   19        6  Female
75       Prof          B   17       17  Female
76       Prof          A   28       14  Female
77       Prof          A   23       15  Female

[78 rows x 5 columns]

first 50 records with rank,service and salary:
          rank  service  salary
0        Prof       49  186960
1        Prof        6   93000
2        Prof       20  110515
3        Prof       31  131205
4        Prof       18  104800
5        Prof       20  122400
6   AssocProf       17   81285
7        Prof       18  126300